<section class="categories">
  <div class="container">
    <h2 class="categories__title title-2">Browse Categories</h2>
    <div class="categories-wrapper">
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/image-placeholder-7.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/PaintBrush.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Art</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-4.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/Swatches.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Collectibles</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/MusicNotes.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Music</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-1.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/Camera.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Photography</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-2.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/VideoCamera.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Video</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-3.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/MagicWand.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Utility</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-5.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/Basketball.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Sport</h5>
      </div>
      <div class="categories-card">
        <div class="categories-card__wrapper-bg">
          <img src="../images/Image Placeholder-6.webp" alt="" />
        </div>
        <div class="categories-card__icon">
          <img src="../images/Planet.webp" alt="" />
        </div>
        <h5 class="categories-card__title title-3">Virtual Worlds</h5>
      </div>
    </div>
  </div>
</section>
