<section class="collection">
    <div class="container">
        <h2 class="collection__title title-2">Trending Collection</h2>
        <p class="collection__subtitle subtitle">Checkout our weekly updated trending collection.</p>
    <div class="collection-wrapper">
        <div class="collection-card">
            <img src="../images/Primary Photo Placeholder-1.webp" alt="" class="collection-card__primary-photo">
            <div class="collection-card__img-wrapper">
                <img src="../images/Secondary Photo Placeholder-1.webp" alt="">
                <img src="../images/Secondary Photo Placeholder-2.webp" alt="">
                <p class="collection-card__img-wrapper_number title-5">1025+</p>
            </div>
            <div class="collection-card__wrapper-bottom">
                <h3 class="collection-card__subtitle title-3">DSGN Animals</h3>
                <div class="collection-card__wrapper-artist">
                    <img src="../images/Avatar Placeholder-5.webp" alt="">
                    <p class="collection-card__name base-text">MrFox</p>
                </div>
            </div>
        </div>
        <div class="collection-card">
            <img src="../images/Primary Photo Placeholder-2.webp" alt="" class="collection-card__primary-photo">
            <div class="collection-card__img-wrapper">
                <img src="../images/Secondary Photo Placeholder-3.webp" alt="">
                <img src="../images/Secondary Photo Placeholder-4.webp" alt="">
                <p class="collection-card__img-wrapper_number title-5">1025+</p>
            </div>
            <div class="collection-card__wrapper-bottom">
                <h3 class="collection-card__subtitle title-3">Magic Mushrooms</h3>
                <div class="collection-card__wrapper-artist">
                    <img src="../images/Avatar Placeholder-6.webp" alt="">
                    <p class="collection-card__name base-text">Shroomie</p>
                </div>
            </div>
        </div>
        <div class="collection-card">
            <img src="../images/Primary Photo Placeholder-3.webp" alt="" class="collection-card__primary-photo">
            <div class="collection-card__img-wrapper">
                <img src="../images/Secondary Photo Placeholder-5.webp" alt="">
                <img src="../images/Secondary Photo Placeholder-6.webp" alt="">
                <p class="collection-card__img-wrapper_number title-5">1025+</p>
            </div>
            <div class="collection-card__wrapper-bottom">
                <h3 class="collection-card__subtitle title-3">Disco Machines</h3>
                <div class="collection-card__wrapper-artist">
                    <img src="../images/Avatar Placeholder-10.webp" alt="">
                    <p class="collection-card__name base-text">BeKind2Robots</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>