<section class="discover">
  <div class="container">
    <div class="discover-wrapper">
      <div class="discover-titles">
        <h2 class="discover__title title-2">Discover More NFTs</h2>
        <p class="discover__subtitle subtitle">Explore new trending NFTs</p>
      </div>
      <a href="#" class="discover__btn btn base-text">
        <svg>
          <use xlink:href="../images/symbol-defs.svg#icon-Eye"></use>
        </svg>
        See All
      </a>
      <div class="discover__pustoi"></div>
      <div class="discover-card">
        <img src="../images/NFT-image-1.webp" alt="" />
        <div class="discover-card__artist-wrapper">
          <h5 class="discover-card__title title-3">Distant Galaxy</h5>
          <div class="discover-card__signature-wrapper">
            <img src="../images/Avatar Placeholder-2.webp" alt="" />
            <p class="discover-card__signature base-text">MoonDancer</p>
          </div>
          <div class="discover-card__wrapper-bottom">
            <div class="discover-card__price">
              <p class="discover-card__caption">Price</p>
              <p class="discover-card__coast base-text">1.63 ETH</p>
            </div>
            <div class="discover-card__highest-bid">
              <p class="discover-card__caption">Highest Bid</p>
              <p class="discover-card__coast base-text">0.33 wETH</p>
            </div>
          </div>
        </div>
      </div>
      <div class="discover-card">
        <img src="../images/NFT-image-2.webp" alt="" />
        <div class="discover-card__artist-wrapper">
          <h5 class="discover-card__title title-3">Life On Edena</h5>
          <div class="discover-card__signature-wrapper">
            <img src="../images/Avatar Placeholder-8.webp" alt="" />
            <p class="discover-card__signature base-text">NebulaKid</p>
          </div>
          <div class="discover-card__wrapper-bottom">
            <div class="discover-card__price">
              <p class="discover-card__caption">Price</p>
              <p class="discover-card__coast base-text">1.63 ETH</p>
            </div>
            <div class="discover-card__highest-bid">
              <p class="discover-card__caption">Highest Bid</p>
              <p class="discover-card__coast base-text">0.33 wETH</p>
            </div>
          </div>
        </div>
      </div>
      <div class="discover-card">
        <img src="../images/NFT-image-3.webp" alt="" />
        <div class="discover-card__artist-wrapper">
          <h5 class="discover-card__title title-3">AstroFiction</h5>
          <div class="discover-card__signature-wrapper">
            <img src="../images/Avatar Placeholder-13.webp" alt="" />
            <p class="discover-card__signature base-text">Spaceone</p>
          </div>
          <div class="discover-card__wrapper-bottom">
            <div class="discover-card__price">
              <p class="discover-card__caption">Price</p>
              <p class="discover-card__coast base-text">1.63 ETH</p>
            </div>
            <div class="discover-card__highest-bid">
              <p class="discover-card__caption">Highest Bid</p>
              <p class="discover-card__coast base-text">0.33 wETH</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="../images/NFT-highlight.webp" alt="" />
</section>
