<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-logo-box">
                <a href="#" class="footer-logo-box__logo title-5 logo">
                    <svg>
                      <use xlink:href="../images/symbol-defs.svg#icon-Storefront"></use>
                    </svg>
                    NFT Marketplace
                  </a>
                  <p class="base-text">NFT marketplace UI created with Anima for Figma.</p>
                  <p class="base-text">Join our community</p>
                  <div class="footer-logo-box__icons">
                    <a href="#"><img src="../images/DiscordLogo.webp" alt="" class="footer-logo-box__img"></a>
                    <a href="#"><img src="../images/YoutubeLogo.webp" alt="" class="footer-logo-box__img"></a>
                    <a href="#"><img src="../images/TwitterLogo.webp" alt="" class="footer-logo-box__img"></a>
                    <a href="#"><img src="../images/InstagramLogo.webp" alt="" class="footer-logo-box__img"></a>
                  </div>
            </div>
            <div class="footer-nav">
                <h3 class="footer-nav__title title-5">Explore</h3>
                <ul class="footer-nav__items">
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link base-text">Marketplace</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link base-text">Rankings</a></li>
                    <li class="footer-nav__item">
                      <a href="#" class="footer-nav__link base-text">Connect a wallet</a>
                    </li>
                </ul>
            </div>
            <div class="footer-mail">
                <h3 class="footer-mail__title title-5">Join our weekly digest</h3>
                <p class="base-text">Get exclusive promotions & updates straight to your inbox.</p>
                <form action="#" method="get">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Enter your email here"
                      class="base-text"
                    />
                    <button type="submit" class="base-text">Subscribe</button>
                  </form>
            </div>
        </div>
        <hr class="footer-line">
        <p class="footer-rights">Ⓒ NFT Market. Use this template freely.</p>
    </div>
</footer>