<header class="header">
  <nav class="nav">
    <a href="#" class="nav__logo title-5 logo">
      <svg>
        <use xlink:href="../images/symbol-defs.svg#icon-Storefront"></use>
      </svg>
      NFT Marketplace
    </a>
    <ul class="nav__items base-text">
      <li class="nav__item"><a href="#" class="nav__link">Marketplace</a></li>
      <li class="nav__item"><a href="#" class="nav__link">Rankings</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link">Connect a wallet</a>
      </li>
      <li class="nav__item btn">
        <a href="#" class="nav__link">
          <svg>
            <use xlink:href="../images/symbol-defs.svg#icon-User"></use>
          </svg>
          Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>
