<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__left-wrapper">
        <h1 class="hero-title title-1">Discover digital art & Collect NFTs</h1>
        <p class="hero-subtitle subtitle">
          NFT marketplace UI created with Anima for Figma. Collect, buy and sell
          art from more than 20k NFT artists.
        </p>
        <a href="#" class="hero-btn btn base-text">
          <svg>
            <use xlink:href="../images/symbol-defs.svg#icon-RocketLaunch"></use>
          </svg>
          Get Started
        </a>
        <div class="additional-info-wrapper">
          <div class="additional-info">
            <p class="quantity">240k+</p>
            <p class="quantity-content">Total Sale</p>
          </div>
          <div class="additional-info">
            <p class="quantity">100k+</p>
            <p class="quantity-content">Auctions</p>
          </div>
          <div class="additional-info">
            <p class="quantity">240k+</p>
            <p class="quantity-content">Artists</p>
          </div>
        </div>
      </div>
      <div class="artist-card">
        <img src="../images/hero-img.webp" alt="" />
        <div class="artist-card__wrapper-bottom">
          <h5 class="artist-card__title subtitle">Space Walking</h5>
          <div class="artist-card__wrapper">
            <img
              src="../images/Avatar Placeholder-12.png"
              alt=""
              class="artist-card__img"
            />
            <p class="artist-card__name base-text">Animakid</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
