<section class="subscribe">
  <div class="container">
    <div class="subscribe-wrapper">
      <img src="../images/subscribe.webp" alt="" />
      <div class="subscribe-mail-wrapper">
        <h3 class="subscribe-mail-wrapper__title title-2">
          Join our weekly digest
        </h3>
        <p class="subscribe-mail-wrapper__text subtitle">
          Get exclusive promotions & updates straight to your inbox.
        </p>
        <form action="#" method="get" >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email here"
            class="base-text"
          />
          <button type="submit" class="base-text">
            <svg>
              <use
                xlink:href="../images/symbol-defs.svg#icon-EnvelopeSimple"
              ></use>
            </svg>
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
