.collection
    margin-bottom: 16rem  
    &__title
        margin-bottom: 1rem
    &__subtitle
        margin-bottom: 6rem

.collection-wrapper
    display: flex
    gap: 3rem

.collection-card
    max-width: 33rem
    height: 52.5rem
    &__primary-photo
        margin-bottom: 1.5rem           
    &__img-wrapper
        display: flex
        margin-bottom: 1.5rem
        img
            margin-right: 1.5rem
        &_number
            font-family: "Space Mono"
            font-weight: 700 
            padding: 3.2rem 1.5rem
            background-color: $color-call-to-action
            border-radius: 2rem 
    &__subtitle
        margin-bottom: 1rem
    &__wrapper-artist
        display: flex
        align-items: center
        img
            width: 2.4rem
            height: 2.4rem
            margin-right: 1.2rem
    &__name
        font-weight: 400