.creators
    margin-bottom: 16rem
    @media only screen and (max-width : 834px)
        margin-bottom: 8rem
    &__wrapper-titles
        grid-column: 1 / 4
        @media only screen and (max-width : 834px)
            grid-column: 1 / 2
    &__title
        margin-bottom: 1rem
    &__subtitle
        grid-column: 1 / 2
        grid-row: 1 / 2
    &__btn
        grid-column: 4 / 5
        background-color: $color-background
        border: .2rem solid $color-call-to-action
        width: 25rem
        height: 6rem
        justify-self: end
        align-self: flex-end
        @media only screen and (max-width : 834px)
            grid-column: 2 / 3
        svg
            stroke: $color-call-to-action
            width: 2rem
            height: 2rem
            margin-right: 1.2rem
    &__pustoi
        grid-row: 2 / 3
        grid-column: 1 / -1
        height: 6rem
        width: 100%
        @media only screen and (max-width : 834px)
            height: .1rem

.creators-wrapper
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: min-content auto 1fr 1fr 1fr
    gap: 2rem
    @media only screen and (max-width : 834px)
        grid-template-columns: 1fr 1fr

.wrapper-inner
    padding: 2rem

.creators-card
    position: relative
    padding: 2rem
    max-width: 24rem
    height: 23.8rem
    background-color: $color-background-secondary
    border-radius: 2rem
    display: flex
    flex-direction: column
    align-items: center
    @media only screen and (max-width : 834px)
        flex-direction: row
        max-width: 33rem
        height: 10rem
    img
        margin-bottom: 2rem
        width: 12rem
        height: 12rem
        @media only screen and (max-width : 834px)
            width: 6rem
            height: 6rem
            margin-bottom: 0
    &__title
        margin-bottom: 0.5rem
        width: 21rem
    &__number
        position: absolute
        left: 2rem
        top: 2rem
        display: flex
        align-items: center
        justify-content: center
        width: 3rem
        height: 3rem
        border-radius: 50%
        background-color: $color-background
        font-weight: 400
        color: $color-caption-label-text
        @media only screen and (max-width : 834px)
            left: 1.2rem
            top: 1.3rem
        p
            font-family: Space Mono
    &__total-wrapper
        display: flex
        gap: 1rem
    &__sales
        color: $color-caption-label-text
        @media only screen and (max-width : 834px)
            width: 10rem
    &__price
        font-family: Space Mono
        @media only screen and (max-width : 834px)
            width: 10rem

        
