.discover
    margin-bottom: 8rem
    img
        width: 100%
    &__title
        margin-bottom: 1rem
    &__btn
        grid-column: 3 / 4
        background-color: $color-background
        border: .2rem solid $color-call-to-action
        width: 18.7rem
        height: 6rem
        justify-self: end
        align-self: flex-end
        @media only screen and (max-width : 375px)
            width: 100%
        svg
            stroke: $color-call-to-action
            width: 2rem
            height: 2rem
            margin-right: 1.2rem
        @media only screen and (max-width : 834px)
            grid-column: 2 / 3
        @media only screen and (max-width : 375px)
            grid-column: 1 / 2
            grid-row: 3 / 4
    &__pustoi
        grid-row: 2 / 3
        grid-column: 1 / -1
        width: 100%
        @media only screen and (max-width : 834px)
            display: none
        @media only screen and (max-width : 375px)
            display: none

.discover-wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: min-content min-content auto
    gap: 3rem
    margin-bottom: 8rem
    @media only screen and (max-width : 834px)
        grid-template-columns: repeat(2, 1fr)
    @media only screen and (max-width : 375px)
        grid-template-columns: auto 0
        margin-bottom: 6rem
        gap: 0

.discover-titles
    grid-column: 1 / 3
    @media only screen and (max-width : 834px)
        grid-column: 1 / 2

.discover-card
    max-width: 33rem
    height: 46.9rem
    border-radius: 2rem
    background-color: $color-background-secondary
    &__title
        margin-bottom: 0.5rem
    &__artist-wrapper
        padding: 2rem 3rem 2.5rem
    &__signature-wrapper
        display: flex
        align-items: center
        margin-bottom: 2.5rem
        img
            margin-right: 1.2rem
            width: 2.4rem
            height: 2.4rem
    &__signature
        font-family: "Space Mono"
    &__caption
        font-size: 1.2rem
        font-weight: 400
        line-height: 1.1
        color: $color-caption-label-text
        margin-bottom: 0.8rem
    &__wrapper-bottom
        font-family: "Space Mono"
        display: flex
        justify-content: space-between
    &__highest-bid
        display: flex
        flex-direction: column
        align-items: end
    @media only screen and (max-width : 834px)
        &:last-child
            display: none
    @media only screen and (max-width : 375px)
        &:last-child
            display: table
        margin-bottom: 2rem
        &:last-child
            margin-bottom: 0

.discover-bg
    height: 106rem
    width: 100%
    background: url(/images/NFT-highlight.webp) center/cover no-repeat
    @media only screen and (max-width : 834px)
        height: 63rem
        background: url(/images/NFT-Tablet.webp), url(linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%))
        max-width: 83.4rem
        background-size: auto
        @media only screen and (max-width : 375px)
            width: 100%
            height: 60rem
            background-size: cover

.discover-box
    grid-row: 2 / 3
    @media only screen and (max-width : 375px)
        padding: 4rem 0
    

